includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  pro:
    dnsServers:
      - '8.8.8.8'
  paths:
    - src/
#  reportUnmatchedIgnoredErrors: false

  level: 9

  ignoreErrors:
    -
      message: "#Unsafe usage of new static#"
      path: src/Traits/MakeableTrait.php
